experiment:
  name: "Arxiv.Qwen3-8B.All"
  seed: 42
  device: "cuda:0"

data_filter:
  method: "all" # Policy: Trust ALL LLM predictions

gnn:
  hidden_channels: 256
  num_layers: 3
  dropout: 0.5
  lr: 0.01
  epochs: 100

dataset:
  name: "ogbn-arxiv"
  root: "./dataset"
  # Prompt template is needed for LLM inference
  prompt_template: "Title: {title}\nAbstract: {abs}\nQuestion: Which arXiv CS sub-category does this paper belong to? Return the category code only."
  
  categories: 
    - cs.NA
    - cs.MM
    - cs.LO
    - cs.CY
    - cs.CR
    - cs.DC
    - cs.HC
    - cs.CE
    - cs.NI
    - cs.CC
    - cs.AI
    - cs.MA
    - cs.GL
    - cs.NE
    - cs.SC
    - cs.AR
    - cs.CV
    - cs.GR
    - cs.ET
    - cs.SY
    - cs.CG
    - cs.OH
    - cs.PL
    - cs.SE
    - cs.LG
    - cs.SD
    - cs.SI
    - cs.RO
    - cs.IT
    - cs.PF
    - cs.CL
    - cs.IR
    - cs.MS
    - cs.FL
    - cs.DS
    - cs.OS
    - cs.GT

llm:
  client: "transformers"
  model_path: "/Data/models/Qwen2.5-7B-Instruct/" 
  model_name: "Qwen/Qwen2.5-7B-Instruct"
  max_new_tokens: 32
  temperature: 0.1
